@use 'variables' as *;

.card-course-item {
  margin-top: 16px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.dropdown-line {
  border: none;
  border-top: 1px solid;
  margin: 4px 0;
}

.checkbox-select-all-options {
  width: 120px;
  margin: 0 16px;
}
