<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand' href='#'>WebDev Blog</a>
        <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
                <li class='nav-item'>
                    <div class='dropdown'>
                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            role='button'
                            id='dropdownMenuLink'
                            data-bs-toggle='dropdown'
                            aria-expanded='false'
                        >
                            <img src="https://static.vecteezy.com/system/resources/previews/009/734/564/original/default-avatar-profile-icon-of-social-media-user-vector.jpg" alt="" class="user-avatar" >
                            User
                        </a>
                        <ul class='dropdown-menu'>
                            <li><a class='dropdown-item' href='/courses/create'>Create Course</a></li>
                            <hr class="dropdown-line">
                            <li><a class='dropdown-item' href='/me/stored/courses'>My Courses</a></li>
                            <li><a class='dropdown-item' href='/me/stored/news'>My News</a></li>
                            <hr class="dropdown-line">
                            <li><a class='dropdown-item' href='#'>Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>