<div class="search-form mt-4">
    <form method="POST">
        <div class="mb-3 form-group">
            <label for="search-input" class="form-label">Input</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter search term">
        </div>
        <div class="mb-3 form-group">
            <label for="gender-select" class="form-label">Gender</label>
            <select name="gender" class="form-select" id="gender-select">
                <option value="men">Men</option>
                <option value="women">Women</option>
                <option value="other">Other</option>
            </select>

        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>